<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Charge List</title>
</head>
<body>

    <div layout:fragment="content">
<main class="container mt-5">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">title</th>
            <th scope="col">montant</th>
            <th scope="col">dateDernierDelai</th>
            <th scope="col">datePaiement</th>
            <th scope="col">observation</th>
            <th scope="col">options</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="charge:${chargethym.content}">
            <td th:text="${charge.id}"></td>
            <td th:text="${charge.title}"></td>
            <td th:text="${charge.montant}"></td>
            <td th:text="${charge.dateDernierDelai}"></td>
            <td th:text="${charge.datePaiement}"></td>
            <td th:text="${charge.observation}"></td>

            <td><a onclick="return confirm('Are you sure to delete this item ?')"
                   th:href="@{deleteCharge(id=${charge.id},
                   page=${currentPage},
                   size=${size}

)}"
            >Delete</a></td>
            <td><a th:href="@{showCharge(id=${charge.id})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <ul class="nav nav-pills">
        <li th:each="page,status:${pages}">
            <a th:class="${status.index==currentPage? 'btn btn-primary': 'btn'}"
               th:href="@{chargesList(page=${status.index}, size=${size})}"
               th:text="${status.index}"></a>
        </li> I
    </ul>
</main>



    </div>
</body>
</html>