
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
><head>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <meta charset="UTF-8">
  <title>Charge Creation</title>
</head>
<body>
<div layout:fragment="content">
<main class="container mt-5">
  <form th:action="@{updateCharge}" method="post" th:object="${chargethym}">
    <div class="mb-3">
      <label for="title" class="form-label">title :</label>
      <input type="text" class="form-control" id="title" name="title"
              th:value="${chargethym.title}"
      >
    </div>
    <div class="mb-3">
      <input type="hidden" class="form-control" id="id" name="id" th:value="${chargethym.id}" >
    </div>
    <div class="mb-3">
      <label for="montant" class="form-label">montant :</label>
      <input type="text" class="form-control" id="montant" name="montant" th:value="${chargethym.montant}">
    </div>
    <div class="mb-3">
      <label for="dateDernierDelai" class="form-label">dateDernierDelai :</label>
      <input type="date" class="form-control" id="dateDernierDelai" name="dateDernierDelai" th:value="${chargethym.dateDernierDelai}">
    </div>
    <div class="mb-3">
      <label for="datePaiement" class="form-label">datePaiement :</label>
      <input type="date" class="form-control" id="datePaiement" name="datePaiement" th:value="${chargethym.datePaiement}">
    </div>
    <div class="mb-3">
      <label for="observation" class="form-label">observation :</label>
      <input type="text" class="form-control" id="observation" name="observation" th:value="${chargethym.observation}" >
    </div>


    <input type="submit" class="btn btn-primary" value="Update"/>
  </form>
</main>
</div>
</body>
</html>